/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/app/private/uploads
/storage/app/private/secure_pdfs
/storage/app/private/temp_renders_*
/storage/logs
.git
.idea
.vscode
*.log
.phpunit.result.cache
.env
